body {
    background-image: url("../images/task_background.avif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-form{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    width: 40%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}